<div class="page-header">
    <h3 class="page-title">
        Products
    </h3>

    <div class="filterBy_col">
        <label>Filter by Category</label>
        <span class="filterDropdown">
            <select class="form-control">
                <option>Select Category</option>
                <option>Category 01</option>
                <option>Category 02</option>
                <option>Category 03</option>
            </select>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body products_listing_wrapper py-4 px-4">
                <div class="product_listing_card">

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="d-flex pagination_wrapper"></ngb-pagination>
                </div>
                
            </div>
        </div>
    </div>
</div>