<div class="page-header">
    <h3 class="page-title">
        Create Event
    </h3>

    <div class="filterBy_col">
        <a class="btn btn-danger btn-sm"  routerLink="/create-event" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-plus"></i> Create Event</a>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body table_view_wrapper py-4 px-4">
                <!--<h4 class="card-title">Points Status</h4>-->

                <form class="forms-sample">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Category  Title  <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Enter category title">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Category Slug  <span>*</span></label>
                                <input type="text" class="form-control" id="" placeholder="Category Slug">
                            </div>
                        </div>
                    </div>


                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mr-2">Create Category</button>
                                <button class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>