<div class="page-header">
    <h3 class="page-title">
        Product Detail
    </h3>


</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body products_single_wrapper py-4 px-4">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="product_single_pic">
                            <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="product_single_info">
                            <h1>Packable Tote</h1>
                            <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>
                            <div class="sortDescription">
                                <p>In order to sit comfortably for long periods, people need freedom of movement. The Form rocking chair has a molded plastic shell with a wide, curved seat, which gives plenty of opportunity.</p>
                            </div>
                            <div class="single_addtocart_btn">
                                <div class="quantity">
                                    <input type="number" value="1" />
                                </div>
                                <div class="cart_btn">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-cart" routerLinkActive="active" #blankPage="routerLinkActive">Add to Cart</a>
                                </div>
                            </div>
                            <div class="pr_catMeta">
                                Categories: <a href="">Handbag</a>,
                                <a href="">Bags</a>
                            </div>

                            <div class="product_tabing">
                                <ngb-accordion [closeOthers]="true" activeIds="collapse-1">
                                    <ngb-panel id="collapse-1" title="Description">
                                        <ng-template ngbPanelContent>
                                            <div class="row">
                                                <div class="col-3">
                                                    <img src="assets/images/samples/300x300/10.jpg" class="mw-100" />
                                                </div>
                                                <div class="col-9">
                                                    <p>In order to sit comfortably for long periods, people need freedom of movement. The Form rocking chair has a molded plastic shell with a wide, curved seat, which gives plenty of opportunity for changing
                                                        one’s sitting position.</p>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel id="collapse-2" title="Additional information">
                                        <ng-template ngbPanelContent>
                                            <p>In order to sit comfortably for long periods, people need freedom of movement. The Form rocking chair has a molded plastic shell with a wide, curved seat, which gives plenty of opportunity for changing one’s
                                                sitting position.</p>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body products_listing_wrapper py-4 px-4">
                <div class="product_listing_card">

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Product Item 01-->
                    <div class="product_item">
                        <div class="product_internal">
                            <div class="product_thumb">
                                <img alt="Card image cap" class="card-img-top" src="assets/images/samples/300x300/3.jpg">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">Card title that wraps to a new line</h2>
                                <p class="short-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <div class="pr_point">1,000 <span class="pr_point_label">Points</span></div>

                                <div class="view_product">
                                    <a class="btn btn-md btn-primary btn-block" routerLink="/product-detail" routerLinkActive="active" #blankPage="routerLinkActive">View Products</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>