<div class="page-header">
    <h3 class="page-title">
        Event Details
    </h3>
</div>


<div class="row">
    <div class="col-9 grid-margin">
        <div class="card">
            <div class="card-body py-4 px-4">
                <!--<h4 class="card-title">Points Status</h4>-->

                <div class="event_details_wrapper">
                    <header>
                        <h3>San Diego magazine’s 2017 Best of San Diego Party</h3>
                    </header>

                    <figure class="event_featured_pic">
                        <img src="assets/images/event-featured-pic.jpg" alt="image">
                    </figure>

                    <div class="location_meta">
                        <h4>Location</h4>
                        <p>7602 Bayport Court Randolph, MA 02368</p>
                    </div>

                    <div class="event_description">
                        <h4>Details</h4>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                            in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line
                            of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus
                            Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    </div>

                    <div class="event_gallery_wrap">
                        <h4>Event Gallery</h4>

                        <div class="row event_gallery_list">
                            <div class="col-md-3 col-sm-3 gallery-item">
                                <figure>
                                    <img src="assets/images/event-gallery-thumb.jpg" />
                                </figure>
                            </div>
                            <div class="col-md-3 col-sm-3 gallery-item">
                                <figure>
                                    <img src="assets/images/event-gallery-thumb.jpg" />
                                </figure>
                            </div>
                            <div class="col-md-3 col-sm-3 gallery-item">
                                <figure>
                                    <img src="assets/images/event-gallery-thumb.jpg" />
                                </figure>
                            </div>
                            <div class="col-md-3 col-sm-3 gallery-item">
                                <figure>
                                    <img src="assets/images/event-gallery-thumb.jpg" />
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-3 grid-margin">
        <div class="card">
            <div class="card-body py-4 px-4">

                <div class="event_detail_sidebar">
                    <div class="event-info-row">
                        <span class="badge badge-info">Ongoing</span>
                    </div>
                    <div class="event-info-row">
                        <h3>Total Seats</h3>
                        <span class="total-seats">150</span>
                    </div>
                    <div class="event-info-row">
                        <h3>Start Date</h3>
                        <span class="event-date">
                            Wed, Dec 17,2021<br/>
                            (7:30 PM)
                        </span>
                    </div>
                    <div class="event-info-row">
                        <h3>End Date</h3>
                        <span class="event-date">
                            Wed, Dec 17,2021<br/>
                            (7:30 PM)
                        </span>
                    </div>
                    <div class="event-info-row">
                        <button class="btn btn-lg btn-primary btn-block">Book Event</button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>