<div class="page-header">
    <h3 class="page-title">
        {{pageTitle}}
    </h3>

    <div class="filterBy_col">
        <a class="btn btn-danger btn-sm" routerLink="/create-event-category" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-plus"></i> Add Category</a>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body table_view_wrapper py-4 px-4">
                <form [formGroup]="frmEditEvent" (ngSubmit)="editEvent()" class="forms-sample">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Event  Title  <span>*</span></label>
                                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter event title" [ngClass]="{'is-invalid': submitted && f.name.errors}">
                                <div *ngIf="submitted && f.name.errors" class="text-danger">
                                    <div *ngIf="f.name.errors.required">Event title is required</div>
                                </div>    
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Estimated Point Cost  <span>*</span></label>
                                <input type="text" class="form-control" id="pointCost" formControlName="pointCost" placeholder="Enter estimated point cost" [ngClass]="{'is-invalid': submitted && f.pointCost.errors}">
                                <div *ngIf="submitted && f.pointCost.errors" class="text-danger">
                                    <div *ngIf="f.pointCost.errors.required">Estimated Point Cost is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passport Required <span>*</span></label>
                                <select class="form-control" formControlName="passportRequired" id="passportRequired" [ngClass]="{'is-invalid': submitted && f.passportRequired.errors}">
                                    <option value="">--Select--</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <div *ngIf="submitted && f.passportRequired.errors" class="text-danger">
                                    <div *ngIf="f.passportRequired.errors.required">Passport is required</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date <span>*</span></label>
                                <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Choose date" [(ngModel)]="modelSDate" ngbDatepicker #startDate="ngbDatepicker" [ngClass]="{'is-invalid': submitted && f.startDate.errors}">
                                <div *ngIf="submitted && f.startDate.errors" class="text-danger">
                                    <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                                </div>
                                <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"></button>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date <span>*</span></label>
                                <input type="date" class="form-control" formControlName="endDate" id="endDate" placeholder="Choose date" [(ngModel)]="modelEDate" ngbDatepicker #endDate="ngbDatepicker" [ngClass]="{'is-invalid': submitted && f.endDate.errors}">
                                <div *ngIf="submitted && f.endDate.errors" class="text-danger">
                                    <div *ngIf="f.endDate.errors.required">End Date is required</div>
                                </div>
                                <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"></button>
                            </div>
                        </div>
                        
                    </div>

                    

                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Event Category <span>*</span></label>
                                <select class="form-control" formControlName="categoryId" id="categoryId" [ngClass]="{'is-invalid': submitted && f.categoryId.errors}">
                                    <option value="">--Select Category--</option>
                                    <option *ngFor ="let eventCategories of eventsCategoriesData" [ngValue]="eventCategories.Id">{{eventCategories.Name}}</option>
                                </select>
                                <div *ngIf="submitted && f.categoryId.errors" class="text-danger">
                                    <div *ngIf="f.categoryId.errors.required">Category is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Total Seats  <span>*</span></label>
                                <input type="number" formControlName="quantity" class="form-control" id="quantity" placeholder="Seats" [ngClass]="{'is-invalid': submitted && f.quantity.errors}">
                                <div *ngIf="submitted && f.quantity.errors" class="text-danger">
                                    <div *ngIf="f.quantity.errors.required">Total Seats is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Summary <span>*</span></label>
                                <textarea class="form-control" id="summary" rows="8" formControlName="summary" [ngClass]="{'is-invalid': submitted && f.summary.errors}"></textarea>
                                <div *ngIf="submitted && f.summary.errors" class="text-danger">
                                    <div *ngIf="f.summary.errors.required">Summary is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description <span>*</span></label>
                                <textarea class="form-control" id="description" rows="8" formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
                                <div *ngIf="submitted && f.description.errors" class="text-danger">
                                    <div *ngIf="f.description.errors.required">Description is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="createdBy" formControlName="createdBy" value=""/>
                                <button type="submit" class="btn btn-primary mr-2">Edit Event</button>
                                <button class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>