<div class="page-header">
    <h3 class="page-title">
        All Employees
    </h3>

    <div class="filterBy_col">
        <label>Filter by Franchise</label>
        <span class="filterDropdown">
            <select class="form-control">
                <option>Select Franchise</option>
                <option *ngFor ="let franchise of franchiseData" [ngValue]="franchise.Name">{{franchise.Name}}</option>
            </select>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">

        <div class="card filter_checkbox_wrapper py-4 px-4">
            <div class="card-body">
                <h5 class="card-title">Filter By Franchise Name</h5>

                <div class="filter_checkbox_section">
                    <ul class="list-inline filter_listing">
                        <li *ngFor="let franchise of franchiseData"><span class="checkbox_item">
                            <input type="checkbox" value="franchise.ID"/>
                        </span> {{franchise.Name}}</li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body table_view_wrapper">
                <!--<h4 class="card-title">Recent Info</h4>-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="allCheckCol">
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </th>
                                <th class="nameCol">Employee Name</th>
                                <th>Joining Date</th>
                                <th>Total Projects</th>
                                
                                <th>Running Projects</th>
                                <th>Total Rewards </th>
                                <th>Rewards in ($)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employeeData | paginate : {
                                    itemsPerPage: pageSize,
                                    currentPage: page,
                                    totalItems: count
                                };
                                let i = index">
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>{{employee.FirstName}} {{employee.LastName}}</strong></td>
                                <td>{{employee.HireDate}}</td>
                                <td>24</td>
                                <td>10</td>
                                <td>1,200</td>
                                <td><label class="text-color-red">$1,200</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a routerLink="/employee-reward-status/{{employee.Id}}" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" routerLink="/edit-employee/{{employee.Id}}" routerLinkActive="active" #blankPage="routerLinkActive"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <!--<a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEmployee(employee.Id)"></i></a>-->
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--<ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="d-flex pagination_wrapper"></ngb-pagination>-->
                    <div class="d-flex justify-content-center">
                        <pagination-controls
                            previousLabel="Prev"
                            nextLabel="Next"
                            [responsive]="true"
                            (pageChange)="handlePageChange($event)"
                        >
                        </pagination-controls>
                      </div>
                </div>

            </div>
        </div>
    </div>
</div>