<div class="page-header">
    <h3 class="page-title">
        Cart Notification
    </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card py-2 px-2">
            <div class="card-body">
                <h4 class="card-title mb-4">Search by Franchise or Employee Name</h4>

                <form class="forms-sample">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search by Franchise</label>
                                <input type="text" class="form-control" id="" placeholder="Search by Franchise">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search by Employee</label>
                                <input type="text" class="form-control" id="" placeholder="Search by Employee">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mt-3 mr-2">Search</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row px-2 mt-3">
                    <div class="col-md-12 cart_notification_tableView">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="allCheckCol">
                                            <span class="checkbox_item">
                                                <input type="checkbox" value="" />
                                            </span>
                                        </th>
                                        <th class="nameCol">Franchise/Employee Name</th>
                                        <th>Number of<br/>Request</th>
                                        <th>Points required<br/>to spend</th>
                                        <th>Points<br/>Unclaimed</th>
                                        <th>Status are </th>
                                        <th class="access-cart-col">Access Cart</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="checkbox_item">
                                                <input type="checkbox" value="" />
                                            </span>
                                        </td>
                                        <td><strong>Franchise/Employee name</strong></td>
                                        <td>
                                            <ul>
                                                <li>2 Apparel</li>
                                                <li>3 Swag</li>
                                                <li>2 Events</li>
                                            </ul>
                                        </td>
                                        <td>600 <span class="add-point-link"><a href=""><i class="mdi mdi-plus-circle"></i> Add Points</a></span></td>
                                        <td>1,500</td>
                                        <td>
                                            <div class="badge badge-success">Pending</div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" routerLink="/access-cart" routerLinkActive #icons="routerLinkActive">Access Cart</a>
                                        </td>
                                        <td>
                                            <span class="action_bar">
                                                <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="checkbox_item">
                                                <input type="checkbox" value="" />
                                            </span>
                                        </td>
                                        <td><strong>Franchise/Employee name</strong></td>
                                        <td>
                                            <ul>
                                                <li>2 Apparel</li>
                                                <li>3 Swag</li>
                                                <li>2 Events</li>
                                            </ul>
                                        </td>
                                        <td>600 <span class="add-point-link"><a href=""><i class="mdi mdi-plus-circle"></i> Add Points</a></span></td>
                                        <td>1,500</td>
                                        <td>
                                            <div class="badge badge-danger">Rejected</div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" routerLink="/access-cart" routerLinkActive #icons="routerLinkActive">Access Cart</a>
                                        </td>
                                        <td>
                                            <span class="action_bar">
                                                <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="checkbox_item">
                                                <input type="checkbox" value="" />
                                            </span>
                                        </td>
                                        <td><strong>Franchise/Employee name</strong></td>
                                        <td>
                                            <ul>
                                                <li>2 Apparel</li>
                                                <li>3 Swag</li>
                                                <li>2 Events</li>
                                            </ul>
                                        </td>
                                        <td>600 <span class="add-point-link"><a href=""><i class="mdi mdi-plus-circle"></i> Add Points</a></span></td>
                                        <td>1,500</td>
                                        <td>
                                            <div class="badge badge-primary">Approved</div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" routerLink="/access-cart" routerLinkActive #icons="routerLinkActive">Access Cart</a>
                                        </td>
                                        <td>
                                            <span class="action_bar">
                                                <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="checkbox_item">
                                                <input type="checkbox" value="" />
                                            </span>
                                        </td>
                                        <td><strong>Franchise/Employee name</strong></td>
                                        <td>
                                            <ul>
                                                <li>2 Apparel</li>
                                                <li>3 Swag</li>
                                                <li>2 Events</li>
                                            </ul>
                                        </td>
                                        <td>600 <span class="add-point-link"><a href=""><i class="mdi mdi-plus-circle"></i> Add Points</a></span></td>
                                        <td>1,500</td>
                                        <td>
                                            <div class="badge badge-warning">Completed</div>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" routerLink="/access-cart" routerLinkActive #icons="routerLinkActive">Access Cart</a>
                                        </td>
                                        <td>
                                            <span class="action_bar">
                                                <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>





                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 cart_notification_total text-right pt-4 pr-4">
                            <h2>15,200</h2>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>