<div class="page-header">
    <h3 class="page-title">
        Agent - Jacob Milne Detail testing
    </h3>
</div>

<div class="row">
    <div class="col-md-4 stretch-card grid-margin counter_card counter_card_with_Pic mb-2">
        <div class="card bg-card-white card-img-holder mb-3">
            <div class="card-body py-4">
                <div class="countThumb">
                    <img src="assets/images/icons/Total-Points.png" alt="image">
                </div>
                <div class="countInfo">
                    <h4 class="font-weight-normal mb-4">Total Assigned Points</h4>
                    <h2 class="mb-2">1,250</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin counter_card counter_card_with_Pic mb-2">
        <div class="card bg-card-white card-img-holder mb-3">
            <div class="card-body py-4">
                <div class="countThumb">
                    <img src="assets/images/icons/Unclaimed-Points.png" alt="image">
                </div>
                <div class="countInfo">
                    <h4 class="font-weight-normal mb-4">Total Unclaimed Points</h4>
                    <h2 class="mb-2">800</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin counter_card counter_card_with_Pic mb-2">
        <div class="card bg-card-white card-img-holder mb-3">
            <div class="card-body py-4">
                <div class="countThumb">
                    <img src="assets/images/icons/Claimed-Points.png" alt="image">
                </div>
                <div class="countInfo">
                    <h4 class="font-weight-normal mb-4">Total Claimed Points</h4>
                    <h2 class="mb-2">450</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body table_view_wrapper">
                <h4 class="card-title">Points Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="allCheckCol">
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </th>
                                <th class="nameCol">Employee Name</th>
                                <th>Employee ID</th>
                                <th>Assigned Points</th>
                                <th>Unclaimed Points</th>
                                <th>Claim Points</th>
                                <th>Point Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>Jacob Milne</strong></td>
                                <td>EM-00548</td>
                                <td>9,000</td>
                                <td> 2,000</td>
                                <td>7,000</td>
                                <td><label class="text-color-red">$1500</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>


                        </tbody>
                    </table>

                    <ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="d-flex pagination_wrapper"></ngb-pagination>
                </div>

            </div>
        </div>
    </div>
</div>