<div class="page-header">
    <h3 class="page-title">
        Add Points Records
    </h3>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body table_view_wrapper py-4 px-4">
                <!--<h4 class="card-title">Points Status</h4>-->

                <form class="forms-sample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Employee  <span>*</span></label>
                                <select class="form-control" id="selectEmployee">
                                    <option>--Select Employee--</option>
                                    <option>Jacob Milne</option>
                                    <option>John Moory</option>
                                    <option>John Smith</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Change Type  <span>*</span></label>
                                <select class="form-control" id="selectEmployee">
                                    <option>--Select Change Type--</option>
                                    <option>Change Type 01</option>
                                    <option>Change Type 02</option>
                                    <option>Change Type 03</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Point Value <span>*</span></label>
                                <input type="number" class="form-control" id="pointValue" placeholder="Enter Points Value">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Associated with Event?  <span>*</span></label>
                                <select class="form-control" id="selectEmployee">
                                    <option>--Select Associated Event--</option>
                                    <option>Associated Event 01</option>
                                    <option>Associated Event 02</option>
                                    <option>Associated Event 03</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" id="notes" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mr-2">Add Points</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>