<div class="page-header">
    <h3 class="page-title">
        All Events
    </h3>

    <div class="filterBy_col">
        <a class="btn btn-danger btn-sm"  routerLink="/create-event" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-plus"></i> Create Event</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3 stretch-card grid-margin counter_card">
        <div class="card bg-light-blue1 card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-2">Total Events</h4>
                <h2 class="mb-2">175</h2>
                <h6 class="card-text"><a routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive">View all Events <i class="fa fa-angle-right" aria-hidden="true"></i></a></h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin counter_card">
        <div class="card bg-light-blue2 card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-2">Total Signup Events</h4>
                <h2 class="mb-2">75</h2>

            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin counter_card">
        <div class="card bg-light-blue1 card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-2">Ongoing Events</h4>
                <h2 class="mb-2">175</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin counter_card">
        <div class="card bg-light-blue2 card-img-holder text-white">
            <div class="card-body">
                <h4 class="font-weight-normal mb-2">Closed Events</h4>
                <h2 class="mb-2">75</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body event-listing-table">
                <!--<h4 class="card-title">Recent Info</h4>-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="allCheckCol">
                                    <span class="checkbox_item">
                                    <input type="checkbox" value="" />
                                </span>
                                </th>
                                <th class="nameCol">Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>No. of Signup</th>
                                <th>No. of Approved<br/>Registered</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="checkbox_item">
                                        <input type="checkbox" value="" />
                                    </span>
                                </td>
                                <td><strong>National Seminar</strong></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td><span class="event-date">Wed, Dec 17,2021<br/>
                                    (7:30 PM)</span></td>
                                <td>50</td>
                                <td>50/500</td>
                                <td><label _ngcontent-gsg-c7="" class="badge badge-info">Ongoing</label></td>
                                <td>
                                    <span class="action_bar">
                                        <a  routerLink="#" routerLinkActive="active" #blankPage="routerLinkActive" title="View"><i class="mdi mdi-eye"></i></a>
                                        <a title="Edit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a title="Delete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <ngb-pagination [collectionSize]="40" [pageSize]="10" [page]="1" aria-label="Default pagination" class="d-flex pagination_wrapper"></ngb-pagination>
                </div>

            </div>
        </div>
    </div>

</div>