<div class="page-header">
    <h3 class="page-title">
        User Administration
    </h3>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body table_view_wrapper user_role_tableView">
                <!--<h4 class="card-title">Points Status</h4>-->

                <div class="table-responsive">
                    <table class="table table_default">
                        <thead>
                            <tr>
                                <th class="roleInfo">Service Name</th>
                                <th colspan="5">Permission Levels</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h4 class="mt-0">User Administration</h4>
                                </td>
                                <td>Admin</td>
                                <td>Agent</td>
                                <td>Franchise<br/> Manager
                                </td>
                                <td>Employee</td>
                            </tr>

                            <!-- User Administration Row HTML Start -->

                            <tr class="odd">
                                <td>Add Users with Role</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <!-- Points System Row HTML Start -->
                            <tr class="br_1">
                                <td colspan="5">
                                    <h4>Points System</h4>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>View Points All</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>View Points in Franchise Only (Franchise Owner)</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>View Points User Only</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>View Points Records All</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>View Points Records in Franchise Only (Franchise Owner)</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>View Points Records User Only</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>Increase Points - Add a record to the "Points" table that increases the total point value (API Action Trigger).</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>Decrease Points - Add a record to the "Points" table that decreases the total point value (API Action Trigger).</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>


                            <!-- Events Row HTML Start -->
                            <tr class="br_1">
                                <td colspan="5">
                                    <h4>Events</h4>
                                </td>
                            </tr>
                            <tr class="even">
                                <td>Create Events</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>Delete Events</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>View Employees with Points in each Event</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="odd">
                                <td>View Employees with Points in Franchise Only (References Employee Table)</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <tr class="even">
                                <td>Remove Any Employee from Event</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                            <!-- Events Row HTML Start -->
                            <tr class="br_1">
                                <td colspan="5">
                                    <h4>Resources</h4>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Utilize Postgres SQL Database (Ongoing Build) or API in Play (Ongoing Build)(Mainly used for Lead Administration and will be expanded into this scope as well)</td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" checked>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input" disabled>
                                          <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>